# build and IDE cruft

# log stuff
logs/*
*hs_err_pid*.log

# secret files
*sneaky.yaml
icu-secrets.yaml

# some development environment stuff, these makes intellij ultimate's persistence stuff work
*hibernate.cfg.xml
*persistence.xml

# common symlinks
icu.jar

postgres-data/
